<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>

  {{#each coasters}}
  <hr>
  <a href="/coasters/{{this._id}}" class="btn btn-sm btn-dark">Ver detalles</a>
  <form action="/coasters/{{this._id}}/delete" method="POST">
    <button type="submit" class="btn btn-sm btn-dark">Borrar</button>
  </form>
  <form action="/coasters/{{this._id}}/edit">
    <button type="submit" class="btn btn-sm btn-dark">Editar</button>
  </form>
  <h4>{{this.name}}</h4>
  <p>{{this.description}}</p>
  <small><strong>Longitud: </strong> {{this.length}}m | <strong>Inversiones: </strong> {{this.inversions}} |
    <strong>Parque: </strong>{{park_id.name}} </small>
  <hr>
  {{/each}}

</div>